

.folder-option-menu{
    z-index: 2000;
    background-color: var(--background-paper-light) !important;
    color: var(--text-primary);
    font-family: "Raleway";
  }
  
  .folder-option-menu-item{
          display: flex;
          align-items: center;
          color: var(--text-secondary) !important;
  }
  
  .folder-option-menu-item:hover, .folder-option-menu-item:hover .ant-dropdown-menu-title-content{
          color: var(--band-color) !important;
  }