.footer_cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Londrina solid';
    position: relative;
    padding-top: 0.5%;
    background-color: inherit;
    padding-bottom: 0.5%;
    color: var(--text-primary);
    z-index: 800;

  }
  .footer_cover > * {
    width: 100%;
  }
  .footer_switch{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .switch_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_container{
    background-color: var(--app-bar-bg);
    border-bottom: 20px solid;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 1000;
    border-image: var(--footer-base-color);
  }
  
  .footer_cover > div:first-child > div:first-child{
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding: 0.5%;
  
    justify-content: flex-start;
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 100%;
    font-weight: bolder;
    /* background-color: #d8d8d8; */
    box-sizing: border-box;
    align-self: flex-end;
    min-height: 6vh;
  }


  .footer_container.fixed {
    position: fixed;
    bottom: 0;
  }
  
  .footer > div {
    display: flex;
    width: 100%;
  }
  .footer > .concepts {
    justify-content: center;
    align-items: center;
  }
  .footer > .copywright {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .copywright > div > span:first-child {
    padding-right: 5px;
  }
  .copywright > div,
  .copywright > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer > .clock {
    justify-content: flex-end;
    align-items: center;
  }
  .footer > .clock div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .footer > .clock div:first-child {
    justify-content: flex-end;
  }
  
  .footer > .clock div:last-child {
    justify-content: flex-end;
  }