

.logo > div {
    display: flex;
    align-items: center;
    width: 20vw ;

  }
  
  .logo > div:hover {
    cursor: pointer;
  }
  
  .logo_image {
    height: 10%;
    width: 10%;
  }
  
  .logo > div > div {
    font-weight: bolder;
    font-size: 0.7em;
    font-family: 'Londrina Sketch';
    color: var(--text-primary);
    padding-left: 1%;
  }

